body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.calculator {
  width: 400px;
  height: 550px;
  background-color: #63bda4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.display {
  margin: 16px;
  height: 150px;
  background-color: #d9ffea;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 8px;
  padding-bottom: 8px;
  font-size: 48px;
}

.calc-keys {
  width: auto;
  flex: 1;
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3em;
}

button {
  border-radius: 10px;
  background-color: #62afb7;
  font-size: larger;
  font-weight: bold;
  font-family: inherit;
}

.clear {
  grid-column: 1/3;
}

.backspace {
  grid-column: 3/5;
  background-color: #52F118;
}

.action, .operate, .dot {
  background-color: #ffec47;
}

.erase {
  background-color: #f20553;
}